/* @import url('http://example.com/example_style.css'); */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/

/*  global css starts*/
*{
  padding:0;
  margin:0;
  box-sizing:border-box; 

}

h1{
font-size:52px;
font-weight:600;
line-height:1.33;
}
h2{
font-size:42px;
font-weight:600;
line-height:1.33;
}
h3{
font-size:28px;
font-weight:600;
line-height:1.32;
}
h4{
font-size:24px;
font-weight:600;
line-height:1.33;
}
p{
  font-size:18px;
  line-height:1.77;
  font-weight:400;
} 
body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
a{
text-decoration: none;
color:#fff;
}
li{
 list-style-type:none;
 font-size:20px;
 font-weight:500;
 line-height:1.35;
}
.wrapper{
  max-width:1490px;
  width:100%;
  margin:0 auto;
  padding:0 15px;
}
     
.btn1 a{
  background-color: white; 
  padding:13px 43px 12px;
  font-weight:400;
  border-radius:10px;
  line-height:1.5;
  font-size:20px;
  max-width:187px;
  width:100%;
}
/* global css ends */


/* header section starts */


.header{
  padding: 36px 0 0;
  position: absolute;
  z-index:9878;
   width:100%;
}

.navbar{
  display:flex;
  max-width:1460px;
  width:100%;
  justify-content:space-between;
  align-items:center;
}
.hamburger_icon{
  position:relative;
}
.hamburger_icon, .multiply-icon{
  display:none;
}

.navbar .left_nav{
display:flex;
max-width:613px;
width:100%;
justify-content:space-between;
align-items:center;
}
.nav{
  max-width:375px;
width:100%;
align-items:center;
justify-content:center;
}

.nav ul{
display:flex;
justify-content:space-between;
max-width:359px;
width:100%;
}
.nav ul li a{
  position:relative;
  transition: all ease-in-out 0.4s;
}
.nav ul li a::after{
  content:"";
  position:absolute;
/*   width:calc(100%-14px); */
  left:9px;
  height:4px;
  bottom:-8px;
  right: 9px;
  background-color:#fff;
  opacity: 0;
    
}
.nav ul li a:hover::after{
    opacity: 1;
}
.left_nav .btn1 a{
color:#260D54; 
}
.left_nav .btn1 a:hover {
    background-color:#260D54;
    color:#fff;
}
.horizontal_menu{
display:none;
}
.horizontal_menu .left_nav {
    background:#000000;
    max-width: 900px;
    padding: 20px;
    position: absolute;
    right: 0;
    left:0;
    top: 98%;
    width: 100%;
}
.horizontal_menu .left_nav .nav ul li a{
color:#ffffff;
}
.horizontal_menu .left_nav .nav{
padding-bottom:25px;
}
.horizontal_menu .left_nav .nav ul{
  flex-direction:column;
  gap:20px;
}

/* header section completed */

/* footer starts here */
.footer{
  width:100%;
  background-color: #260D54;
  color:#fff;
  padding:97px 0 17px 0;
}

.description{
font-size:18px;
max-width:516px;
width:100%;
line-height:1.77;
padding:25px 0 0 0;
text-transform:capitalize;

}

.top_footer{
display:flex;
justify-content:space-between;
}

.contact_group{
gap:24.5px;
max-width:434px;
width:100%;
flex-flow: row wrap;
}
.contact_details{
display:flex;
gap:24.5px;
justify-content:left;
align-items:center;
padding:27px 0 0;
}

.circle a{
width:54px;
height:54px;
border-radius:50px;
border: 1px solid #fff;
display:flex;
justify-content:center;
align-items:center;

}

.circle a:hover{
 background-color:#FAA1B5;
}
.circle a:hover svg path{
fill:#ffffff;
}

.icon_group{
display:flex;
flex-flow: row wrap;
max-width:150px;
width:100%;
gap:22px 26px;
padding : 39px 0 0;
}

.hr hr{
margin:56.5px 0 0 0;
border:1.5px solid #bcbcbc;
}
.left_footer{
display: flex;
    gap: 0px;
    width: 100%;
    max-width: 391px;
}
.bottom_footer a, .col2 a{
  font-size:18px;
}
.privacy:first-child{
    max-width: 165px;
}
.privacy{
  display:flex;
align-items: center;
    justify-content: center;
    max-width: 203px;
    width: 100%;
    gap: 20px;
}
.privacy:nth-child(1) hr{
border-right:2px solid #bcbcbc;
height:35px;
display:flex;  
gap:30px; 
}
.privacy hr{
display:none;
}
.sub_bottom_footer{
display:flex;
padding:19px 0 0 0;
justify-content:space-between;
}
.right_footer{
padding:6.5px;
}
.footer a:hover{
color:#FAA1B5;
}
/* banner section starts */
.banner{
position:relative;
margin-top: -28px;
width: 100%;
height:auto; 
 padding: 273px 0 301px;
}
.banner::before {
    content: "";
    position: absolute;
    background-image: url(https://39649841.fs1.hubspotusercontent-na1.net/hubfs/39649841/assets/Path%2070.png);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    background-position-x: center;
}

.banner::after {
    content: "";
    position: absolute;
    background-image: url(https://39649841.fs1.hubspotusercontent-na1.net/hubfs/39649841/assets/Mask%20Group%2011.png);
    background-repeat: no-repeat;
    top: 0;
    left: -10%;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-position-x: center;
    opacity: 0.5;
    mix-blend-mode: color-dodge;
}

.hero-section {
    position: relative;
    z-index: 56;
    color: #ffffff;
}
.hero-section .heading {
    max-width: 708px;
    width: 100%;
}
.details {
    max-width: 738px;
    width: 100%;
    padding: 20px 0 40px 0;
}
.hero-section .btn1 a{
  background:none;
  border:2px solid #fff;
  padding: 11px 37px 10px;
}

.hero-section .btn1 a,.right_content .btn1 a{
color:#ffffff;
}
.hero-section .btn1 a:hover{
background-color:#ffffff;
color:#4F78D6;
}

/* about us section */
.about {
    background-color: #F4F7FD;
    padding: 125px 0 308px 0;
}
.sub-about{
  display:flex;
  justify-content:center;
  gap:100px;
}
.left_about {
    max-width: 645px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.about_subheading{
color:#4F78D6;
}
.about_heading{
color:#4C2B7B;
max-width:645px;
width:100%;
padding:21px 0 0;
}

.about_hr hr{
max-width:151px;
 width:100%;
height:9px;
background:linear-gradient(to right, #4F78D6, #9F5CC0);
border-radius: 10px;
}
.right_about{
  max-width:714px;
  width:100%;
}
.right_about p{
  line-height:1.77;
}
.description1{
  color:#808080;
}
.description2{
    color: grey;
    padding: 40px 0 0;
}

/* counter section starts */
.counter{
  padding:0 0 73px 0;
}
.card_container{
display:flex;
gap:46px;
flex-flow:row wrap;
padding-bottom:140px;
margin: -145px 0 0 0;
}

.card{
padding:21px 15px 26px 31px;
max-width:330px;
width:100%;
box-shadow: 0px 0px 30px rgba(0,0,0,7%);
border-radius:10px;
transition:all ease-in-out 0.4s;
}
.card:hover{
  border:1px solid #707070;
}
.card:nth-child(4n-3){
background: linear-gradient(135deg, rgba(255,222,229,1) 0%, rgba(252,182,198,1) 100%);
}
.card:nth-child(1) .text{
  max-width:145px;
  width:100%;
}

.card:nth-child(2) .text{
  max-width:125px;
  width:100%;
}
.card:nth-child(4n-2){
background: linear-gradient(135deg, rgba(182,203,251,1) 0%, rgba(115,149,227,1) 100%);
}
.card:nth-child(4n-1){
background: linear-gradient(135deg, rgba(214,173,235,1) 0%, rgba(178,120,207,1) 100%);
}
.card:nth-child(4n){
background: linear-gradient(135deg, rgba(199,178,238,1) 0%, rgba(133,110,175,1) 100%);
}
.card:nth-child(3) .text,.card:nth-child(4) .text{
  max-width:calc(100%-46px);
  width:100%;
}
.number{
  padding:0 0 102px 0;
}
.content_heading.sub_heading{
  display:none;
}
.sub_content{
display:flex;
gap:100px;

}
.left_content{
max-width:629px;
width:100%
}
.right_content{
max-width:714px;
width:100%;
}
.right_content .content_description{
padding:30px 0 61px;
}
.right_content .btn1 a{
  background-color:#4F78D6;
}
.right_content .btn1 a:hover{
  background-color:#ffffff;
  border:1px solid #808080;
  color:#4F78D6;
}

.content_heading{
  color:#4C2B7B;
  max-width:626px;
  width:100%;
}
.content_description p{
color:#808080;
}
.text h4{
font-weight:400;
}

/* operations section starts */
.operations{
  padding:73px 0 57px 0;
}
.operations_heading,.choose-heading{
  color:#4F78D6;
  max-width:235px;
  width:100%;
  margin:0 auto;
}
.operations_sub-heading,.choose-sub-heading{
  max-width:955px;
  width:100%;
  margin:0 auto;
  text-align:center;
  color:#260D54;
  padding: 21px 0 109px;
}
.background_container{
  max-width:1231px;
  width:100%;
  background-color:rgba(250, 161,181,13%);
  margin:0 auto ;
  padding:258px 0 0 0;
}

.svg_card{
  max-width:310.17px;
  width:100%;
}
.image_svg{
    left: 45%;
    position: absolute;
    top: 25%;
}
.caption{
text-align:left;
color:white;
 position: absolute;
left: 27%;
top: 76%;
}
.svg_container{
  margin-top: -21%;
  display:flex;
  gap:72.8px;
  padding:0 0 21.8px 0; 
  align-items: center;
  max-width:1460px;
  width:100%;
  justify-content: center;
   flex-flow: row wrap;
}

.svg_shape{
  position: relative;
  padding:0 0 21px 0;
}
.svg_description{
max-width:282px;
 width:100%;
  color:#808080;
}

.arrow {
 padding: 0 0 0 117px;
}



/*  choose section starts*/
.choose{
  padding:56px 0 140px;
}
.choose-sub-heading{
max-width:775px;
width:100%;
padding:21px 0 60px 0;
} 
.choose_card{
  padding:42px 34px;
  box-shadow: 0px 0px 30px rgba(0,0,0,8%);
  max-width:460px;
  width:100%;
  border-radius:10px;
}
.choose_circle{
  width:95px;
  height:95px;
  background-color:#260D54;
  border-radius:50px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.card_heading{
  padding:50px 0 20px 0;
  color:#4F78D6;
}
.card_sub_heading{
  max-width:384px;
  width:100%;
  color:#808080;
}
.choose_container{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:40px;
}



.forms{
  padding:90px 0 94px;
  background-repeat:no-repeat;
  background-size:cover;
}
.sub_forms{
display:flex;
align-items:center;
gap:141px;
max-width:1460px;
width:100%;
}

.left_forms{
  max-width:514px;
  width:100%;
}
.right_forms{
  max-width:768px;
  width:100%;
}
ul.no-list.hs-error-msgs.inputs-list {
    margin: -27px 0 27px;
    color: #ff6363;
}
input[type="text"],input[type="email"],input[type="tel"]{
  width:359px;
  font-size:20px;
  font-weight:400;
  color:#b8b8b8;
  border-radius:10px;
  border:none;
/*   margin:0 0 0 8px; */
  padding:17px 32px 15px 32px;
  font-family: 'Poppins', sans-serif;
  margin: 21px 0 39px 0;
}
.right_forms .form-columns-2{
  display:flex;
gap:50px;
max-width:786px;
  width:100%;
}
input[type="submit"] {
    width: 222px;
    height: 53px;
/*     margin-top: 18px; */
    border-radius: 10px;
    border: none;
    color: #260D54;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover{
   background-color:#260D54;
  color:#fff;
}
.hs_error_rollup{
  margin:50px 0 0 0;
}
span{
  font-size:20px;
  font-weight:400;
  color:#ffffff;
  font-family: 'Poppins', sans-serif;
}

.form-columns-2{
  display: flex;
  gap: 50px;
}

.form_heading{
  color:#ffffff;
  padding:0 0 21px 0;
}

.form_sub_heading{
  color:#ffffff;
}


/* responsive section starts */

@media only screen and (max-width:1487px){
  .wrapper{
    max-width: 1316px;
   width: 100%;
  }
  .banner:after {
    left: -19%;
}
  .left_about{
    max-width:615px;
    width:100%;
  }
  .right_about{
    max-width: 590px;
    width: 100%;
  }
   .card_container{
  max-width:1286px;
  width:100%;
  gap:30px;
  justify-content:center;
  }
  .card{
    max-width:280px;
    width:100%;
  }
 
   .background_container{
    max-width:1123px;
    width:100%
  }
  .svg_container {
    gap: 0;
    justify-content: space-between;
    margin-top: -24%;
}
 
  .arrow svg{
  width:1033.016px;
  }
  .arrow{
   padding: 0px 0 0 101px;
  }

 
  input[type="text"],input[type="email"],input[type="tel"]{
    width:280px;
  }
  .sub_forms{
  gap:80px;
  }
}



@media only screen and (max-width:1272px){
  h2{
  font-size:38px;
  }
  .wrapper{
  max-width:1050px;
  width:100%;
  }
 
   /*  about section  */
  .sub-about,.left_about, .right_about, .about_hr hr,.about_heading{
    max-width:1020px;
    margin:0 auto;
    width:100%;
  } 
  .about_subheading {
    max-width: 164px; 
    margin: 0 auto;
}
  .sub-about{
    justify-content:center;
    gap:40px;
    flex-direction:column;
    text-align:center;
  }
  .left_about{
     justify-content:center;
    gap:40px;
  }
.about_heading {
    margin: 0 auto;
}
  .card{
    max-width:470px;
    width:100%;
  }
   .card:first-child .text {
    max-width: 227px;
    width: 100%;
}
  .card:nth-child(2) .text {
    max-width: 228px;
    width: 100%;
}
  .left_content img{
    width:800px;
  }

   .background_container{
     background-color: #fff;
  }
  .svg_container{
  gap:40px;
  justify-content:center;
  }
.svg_card{
   display:flex;
   max-width: 489px;
   align-items:center;
   justify-content:center;
   gap:20px;
   width:100%;
    }     
  .svg_card:nth-child(4) .image_svg{
    left: 38%;
  } 
  .svg img{
height: 270px;
}
  .caption {
    left: 30%;
    top: 60%;
}
  .image_svg {
    left: 46%;
    top: 18%;
}
  .arrow{
    display:none;
  }
  
  .right_forms .form-columns-2{
gap:20px;
max-width:786px;
  width:100%;
}
  input[type="text"],input[type="email"],input[type="tel"]{
    width:250px;
  }
   .description{
    max-width: 340px;
    width: 100%;
  }
  .col2{
    max-width: 360px;
    width: 100%;
  }
  
}


@media only screen and (max-width:1080px){
  h1{
font-size:48px;
  }
    h2{
font-size:34px;
  }
 p{
  font-size:16px;
  }
  
  .wrapper{
    max-width:974px;
    width:100%;
  }
  .btn1 a{
    padding:11px 27px 10px;
  }
/*  header section  */
    .navbar .left_nav .btn1{
     height: 42px;
    width: 161px;
  }    
  .navbar .nav ul {
    max-width: 355px;
    width: 100%;
}
  .navbar .nav ul,.navbar .left_nav{
  justify-content:center;
  gap:40px;
  }
/*   hero section */
  .right_content .btn1, .hero-section .btn1{
    margin: 0 auto;
  }
  .hero-section{
  margin:0 auto;
  text-align:center;
  }
  .hero-section .heading {
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    width: 100%;
}
  .details{
  margin:0 auto;
  text-align:center;
  }

  
/* counter section  */
  .card{
  max-width:330px;
  width:100%;
  }

  .content_heading{
display:none;
  }
  .content_heading.sub_heading{
    display:block;
    max-width: 677px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
.sub_content{
   flex-direction:column;
   max-width: 946px;
    width: 100%;
  }
  .left_content {
    max-width: 629px;
    width: 100%;
    margin: 0 auto;
    padding: 21px 0 0;
}
  .right_content {
    max-width: 915px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
/*  operation section  */
  .operations_sub-heading {
    padding-bottom: 0px;
}

   .operations_heading {
    max-width: 187px;
    width: 100%;
    margin:0 auto;
}
  
   .image_svg {
    left: 41%;
    top: 25%;
}
  .caption {
    left: 32%;
    top: 63%;
}
  
   .svg_card:first-child .caption{
     left: 26%;
  }
  .svg_card:last-child .caption{
    left: 29%;
  }
.svg_card:last-child .image_svg {
   left: 36%;
}
  .svg_card{
  max-width:330px;
  width:100%;
  flex-direction:column;
} 
  .svg_shape{
    padding:0;
  }
 .choose_card{
    padding:20px;
  }
  
/*  forms section  */
  .sub_forms{
flex-direction:column;
  }
    .form-columns-2{
  gap:40px;
  }
  input[type="text"],input[type="email"],input[type="tel"]{
  width:330px;
  }
  input[type="submit"]{
  margin:0 auto;
  }
  
.actions {
    margin: 0 auto;
    max-width: 222px;
    width: 100%;
  padding:21px 0 0;
}
  .left_forms {
    padding: 0px 0 0;
    margin: 0 auto;
    text-align: center;
}
   
/*  footer section */

  .top_footer{
    flex-flow:row wrap;
    justify-content:center;
    gap:80px 60px;
  }
  .col1{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
   .logo{
    width: 112px;
    margin: 0 auto;
  }
  .description {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
     .col2 {
    max-width: 391px;
    width: 100%;
}
   .group {
    gap: 13.5px;
}
 
.sub_bottom_footer {
    align-items: center;
    flex-flow: row wrap;
    gap: 16px 187px;
    justify-content: center;
}
  
  
 
}
@media only screen and (max-width:900px){
     .navbar .left_nav{
        display:none;
  }
  .hamburger_icon{
  display:block;
  }
   li:hover::after{
     opacity:0;
  }
.banner::before, .banner::after{
    background:none;
  }
  .navbar .nav,.navbar .nav ul {
  gap:0;
  }
 

}
@media only screen and (max-width:767px){
   h4{
    font-size:20px;
  }
.banner {
    padding: 167px 0;
} 
  
  
/* about section  */
    .about {
    padding: 60px 0;
}
 
  .description2 {
    padding: 28px 0 0;
}
 
/* counter section */
  .counter{
    padding:60px 0 30px;
  }

  .card_container {
    margin: 0;
    padding:0px 0 30px;
}
    .card{
    max-width:420px;
    width:100%;
  }
  .number {
    padding: 0px 0 41px;
}
  .card_sub_heading{
    max-width:280px;
    width:100%;
  }
  .sub_content{
    gap:40px;
  }
   .right_content .content_description {
    padding: 0px 0 48px;
}
/*  operations section  */
   .operations {
    padding: 30px 0 28px 0;
}
  .operations_heading {
    max-width: 162px;
}
 .background_container {
    padding: 0px;
}
.svg_container{
margin-top:0px;
padding:40px 0 0;
  }
 .svg_card{
    flex-direction:row;
    max-width:420px;
    width:100%;
}
  
  .svg img {
    height: 217px;
}  
    
/*  choose section  */
  .choose_container{
    flex-direction:column;
  }
  .choose_card{
    display: flex;
    max-width: 530px;
    width: 100%;
    gap: 20px;
    align-items: center;
}
  .choose {
    padding: 30px 0;
}
    .choose-heading {
    margin: 0 auto;
    max-width: 154px;
    width: 100%;
}
/*  form section  */
  
  .forms {
    padding: 60px 0;
}
  .form-columns-2{
/*   flex-direction:column;
 text-align:center; */
  gap:10px;
  }
.right_forms {
    max-width: 510px;
    width: 100%;
    margin: 0 auto;
}
input[type="text"],input[type="email"],input[type="tel"]{
  width:222px;
  }
/*  footer section  */
    .footer{
      padding:60px 0 17px;
  }
  .top_footer {
    gap: 69px 103px;
}
  .col2 {
    max-width: 210px;
    width: 100%;
}
  .col1 .description, .col2 p{
    font-size:14px;
    gap:40px;
    justify-content:center;
  }
.group {
    text-align: left;
}
  .privacy p a{
    font-size:16px;
  }
  .privacy:first-child hr{
    height:25px;
  }
}

@media only screen and (max-width:480px){
  h1{
    font-size:36px;
  }
  h2{
    font-size:28px;
  }
  h3{
    font-size:20px;
  }
  h4{
    font-size:18px;
  }
  p{
     font-size:14px;
  }
  .banner {
    padding: 140px 0;
}
   .hero-section {
    padding: 0px 0;
  }
  
/*  about sec  */
   .about {
    padding: 30px 0 ;
}
  .card_sub_heading, .right_card{
    text-align:center;
  }
  .card_heading {
    color: #4f78d6;
    padding: 0px 0 20px;
}
/* .sub-about {
    padding: 0px 0 px 0;
} */
  .left_about{
    gap:20px;
  }
 .description2 {
    padding: 15px 0 0;
}
  .right_content .content_description {
    padding: 0 0 32px;
}
/*  counter section  */
 .counter{
padding:15px;
  }
.sub_content {
    gap: 20px;
}
  
/*  operation section  */
  .operations{
    padding:15px;
  }
    .operations_heading {
    max-width: 140px;
}
  
  .svg_description {
    text-align: center;
}

   .svg_card{
    flex-direction:column;
  }
  .svg img {
    height: 250px;
}
/* choose section  */
  .choose {
    padding: 15px 0;
}
   .choose_card {
    flex-direction: column;
    max-width: 380px;
    width: 100%;
    padding: 30px;
}
  .forms{
    padding:30px 0;
  }
  
 .form-columns-2{
gap:0;
   flex-direction:column;
  }
/* footer section */
 .footer {
    padding: 30px 0 17px 0;
}
  .top_footer{
    gap:60px;
  }
   .col2,.col3{
    text-align:center;
  }
  .icon_group {
    max-width:294px;
     padding: 27px 0 0;
}
  .left_footer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    max-width: 176px;
}
  .privacy:first-child hr {
   display:none;
}

}

@media only screen and (max-width:375px){
  
  h1{
    font-size:35px;
  }
  h2{
font-size:24px;
  }
  h3{
   font-size:18px;
  }
 .right_footer p{
  text-align:center;
  }
  .circle a{
    width: 40px;
    height: 40px;
  }
  .icon_group {
    gap: 15px;
}
}


@media only screen and (max-width:320px){
  a{ font-size:14px; }

  }